@import color

body
    background: $background-color

    .wrapper
        width: 100%
        max-width: 1200px
        box-sizing: border-box
        padding: 0 1rem
        margin: 0 auto

    .feature
        &__item
            display: flex
            flex-direction: column
            width: calc(80rem / 2)
            height: calc(85rem / 2)
        &__description
            display: flex
            flex-direction: column
            justify-content: space-between
            gap: 2rem
            font-size: 1.2rem
            font-weight: 500
            line-height: 1.4
            color: $secondary-text-color

    .logo
        display: flex
        cursor: pointer
        &__text
            display: flex
            align-items: center
            flex-direction: column
            gap: 0.3rem
            margin-left: 1rem
        &__title
            font-size: 2.8rem
            font-weight: 600
        &__subtitle
            font-size: 0.9rem
            font-weight: 500

    .title
        display: flex
        align-items: center
        justify-content: space-between
        color: $secondary-text-color
        margin-bottom: 2rem
        a
            color: $secondary-text-color
        &__text
            font-size: 2.55rem
            font-weight: 600
        &__more
            display: flex
            margin-right: 3rem
            font-size: 1.25rem
            &:hover
                color: $animation-color
                transition: all 0.3s ease
            &:active
                color: $background-color
                transition: all 0.1s ease
        &__icon
            margin-left: 1rem

    .row
        display: flex
        align-items: center
        justify-content: space-between
        gap: 1.425rem

    .card
        display: flex
        flex-direction: column
        justify-content: space-between
        gap: 2rem
        width: calc(85rem / 2.8)
        height: calc(85rem / 2.125)
        border: 0.25rem solid $secondary-color
        border-radius: 1.425rem
        padding: 2rem
        color: $secondary-text-color
        &:hover
            border: 0.25rem solid $primary-text-color
        &__image
            display: flex
            justify-content: center
            position: relative
        &__img
            height: calc(85rem / 5)
        &__like
            position: absolute
            right: 0
            cursor: pointer
            &:active
                background: url('../img/icon_like_full.svg')
        &__description
            display: flex
            flex-direction: column
            gap: 1.5rem
        &__title
            font-size: 1.75rem
            font-weight: 500
        &__text
            height: calc(18rem / 4)
            font-size: 1rem
            line-height: 1.3
        &__price
            font-size: 1.75rem
            &_new
                font-weight: 700
                margin-right: 2rem
            &_old
                font-weight: 500
                text-decoration: line-through
                color: $secondary-light-color
        &__button
            padding: 1rem 2rem
            border-radius: 1.425rem
            background: $secondary-color
            transition: all 0.3s ease-out
            &:hover
                box-shadow: 0 0.01rem 0.3rem 0.025rem $primary-text-color
                background: $primary-text-color
                transition: all 0.3s ease-out
                .card__button-text
                    color: $primary-color
                    transition: all 0.2s ease-out
            &:active
                box-shadow: 0 0.01rem 0.5rem 0.025rem $primary-color
                background: $primary-color
                transition: all 0.1s ease
                .card__button-text
                    color: $primary-text-color
                    transition: all 0.1s ease-out
        &__button-text
            font-size: 1.25rem
            font-weight: 500
            color: $secondary-text-color

    .line
        display: flex
        justify-content: space-between
        height: 23rem
        margin-top: 17.5rem
        &::before
            content: ''
            width: 100%
            height: inherit
            display: block
            position: absolute
            left: 0
            z-index: -1
            background: $primary-text-color

    .header
        width: 100%
        position: fixed
        background: $primary-color
        z-index: 99
        &__content
            display: flex
            align-items: center
            justify-content: space-between
            min-height: 3rem
            font-size: 1.2rem
            color: $secondary-text-color
            a
                color: $secondary-text-color
        &__hamburger
            display: none
        &__logo
            display: none
        &__icons
            display: none
        &__map
            display: flex
            align-items: center
            gap: 1rem
            font-weight: 500
            cursor: pointer
            &:hover
                color: $animation-color
                transition: all 0.3s ease
            &:active
                color: $background-color
                transition: all 0.1s ease
        &__navbar
            margin-right: 4rem
        &__navbar-list
            display: flex
            gap: 2rem
        &__navbar-item
            &:hover
                color: $animation-color
                transition: all 0.3s ease
            &:active
                color: $background-color
                transition: all 0.1s ease
        &__phone
            display: flex
            align-items: center
            gap: 1rem
            font-weight: 500
        &__phone-number
            &:hover
                color: $animation-color
                transition: all 0.3s ease
            &:active
                color: $background-color
                transition: all 0.1s ease
        &__login
            display: flex
            align-items: center
            gap: 1rem
            cursor: pointer
            &:hover
                color: $animation-color
                transition: all 0.3s ease
            &:active
                color: $background-color
                transition: all 0.1s ease

    .main
        padding-top: 6rem
        &__section-top
            display: flex
            justify-content: space-between
            color: $secondary-text-color
            a
                color: $secondary-text-color
        &__search
            display: flex
            align-items: center
            flex: 1
            margin: auto 9.5rem / 85rem * 100%
            padding: 0.7rem 2rem
            border: 0.25rem solid $secondary-color
            border-radius: 1.425rem
            transition: all 1s linear
            &:hover
                box-shadow: 0 0.01rem 0.5rem 0.025rem $secondary-text-color
                border: 0.215rem solid $secondary-text-color
                transition: all 0.5s ease-out
        &__search-icon
            margin-right: 1rem
        &__search-input
            width: 100%
            font-size: 1rem
            color: $primary-text-color
            background: $background-color
            &::placeholder
                color: $primary-text-color
        &__action
            display: flex
            align-items: center
            gap: 3rem
            font-weight: 500
        &__action-item
            display: flex
            align-items: center
            flex-direction: column
            gap: 0.2rem
            cursor: pointer
            &:hover
                .main__action-item-text
                    color: $animation-color
                    transition: all 0.3s ease
            &:active
                .main__action-item-text
                    color: $background-color
                    transition: all 0.1s ease
        &__section-center
            margin-top: 3rem

        &__button-list
            display: none
            position: absolute
            left: 0
            top: 100%
            width: calc(85rem / 3.92)
        &__button-item
            display: flex
            justify-content: space-between
            background: $secondary-color
            transition: all 0.3s ease-out
            &:hover
                background: $primary-text-color
                transition: all 0.3s ease-out
                .main__button-item-text
                    color: $primary-color
                    transition: all 0.2s ease-out
            &:active
                background: $primary-color
                transition: all 0.1s ease
                .main__button-item-text
                    color: $primary-text-color
                    transition: all 0.1s ease-out
            &:hover > .main__button-list-first
                display: block
            &:hover > .main__button-list-second
                display: block
            &:hover > .main__button-list-third
                display: block
            &_pharmacy
                border-radius: 0rem 0rem 0rem 1.425rem
                &:hover
                    border-radius: 0rem 0rem 1.425rem 1.425rem
            &_dog:hover
                .main__button-list-first
                    top: 16.5%
                .main__button-list-second
                    top: 16.5%
                .main__button-list-third
                    top: 16.5%
            &_rodent:hover
                .main__button-list-first
                    top: 33.35%
                    height: calc(85rem / 3.2)
                .main__button-list-second
                    top: 33.35%
                    height: calc(85rem / 3.2)
                .main__button-list-third
                    top: 33.35%
                    height: calc(85rem / 3.2)
            &_fish:hover
                .main__button-list-first
                    top: 50%
                    height: calc(85rem / 4.5)
                .main__button-list-second
                    top: 50%
                    height: calc(85rem / 4.5)
                .main__button-list-third
                    top: 50%
                    height: calc(85rem / 4.7)
            &_bird:hover
                .main__button-list-first
                    top: 66.7%
                    height: calc(85rem / 4.05)
                .main__button-list-second
                    top: 66.7%
                    height: calc(85rem / 4.05)
                .main__button-list-third
                    top: 66.7%
                    height: calc(85rem / 4.05)
        &__button-list-first
            display: none
            position: absolute
            left: 100%
            top: 0
            width: calc(85rem / 3.92)
            height: calc(85rem / 2.76)
            background: $primary-text-color
            border-radius: 0rem 0rem 0rem 1.425rem
            overflow: hidden
        &__button-item-first
            display: flex
            justify-content: space-between
            position: relative
            background: $primary-text-color
            transition: all 0.3s ease-out
            &:hover
                background: $secondary-color
                transition: all 0.2s ease-out
                .main__button-item-text-first
                    color: $primary-text-color
                    transition: all 0.2s ease-out
            &:active
                background: $background-color
                transition: all 0.1s ease
                .main__button-item-text-first
                    color: $primary-text-color
                    transition: all 0.1s ease-out
            &_bottom
                border-radius: 0rem 0rem 0rem 1.425rem
        &__button-list-second
            display: none
            position: absolute
            left: 200%
            top: 0
            width: calc(85rem / 3.92)
            height: calc(85rem / 2.76)
            background: $primary-text-color
            overflow: hidden
        &__button-item-second
            display: flex
            justify-content: space-between
            position: relative
            background: $primary-text-color
            transition: all 0.3s ease-out
            &:hover
                background: $secondary-color
                transition: all 0.2s ease-out
                .main__button-item-text-second
                    color: $primary-text-color
                    transition: all 0.2s ease-out
            &:active
                background: $background-color
                transition: all 0.1s ease
                .main__button-item-text-second
                    color: $primary-text-color
                    transition: all 0.1s ease-out
        &__button-list-third
            display: none
            position: absolute
            left: 300%
            top: 0
            width: calc(85rem / 3.92)
            height: calc(85rem / 2.76)
            border-radius: 0rem 1.425rem 1.425rem 0rem
            background: $primary-text-color
            overflow: hidden
        &__button-item-third
            display: flex
            justify-content: space-between
            position: relative
            background: $primary-text-color
            transition: all 0.3s ease-out
            &:hover
                background: $secondary-color
                transition: all 0.2s ease-out
                .main__button-item-text-third
                    color: $primary-text-color
                    transition: all 0.2s ease-out
            &:active
                background: $background-color
                transition: all 0.1s ease
                .main__button-item-text-third
                    color: $primary-text-color
                    transition: all 0.1s ease-out
        &__button
            display: flex
            align-items: center
            background: $secondary-color
            padding: 0.5rem 2rem
            border-radius: 1.425rem
            font-size: 1.5rem
            font-weight: 500
            cursor: pointer
            max-width: 21.7rem
            position: relative
            color: $primary-text-color
            transition: all 0.5s ease-out
            &:hover
                box-shadow: 0 0.01rem 0.5rem 0.025rem $secondary-light-color
                border-radius: 1.425rem 1.425rem 0rem 0rem
                transition: all 0.5s ease-out
            &:hover
                .main__button-list
                    display: inline
        &__button-item-text
            text-align: left
            padding: 1.4rem
            font-size: 1.4rem
            font-weight: 500
            color: $primary-text-color
        &__button-item-text-first
            text-align: left
            padding: 1.4rem
            font-size: 1.4rem
            font-weight: 500
            color: $secondary-color
        &__button-item-text-second
            text-align: left
            padding: 1.4rem
            font-size: 1.4rem
            font-weight: 500
            color: $secondary-color
        &__button-item-text-third
            text-align: left
            padding: 1.4rem
            font-size: 1.4rem
            font-weight: 500
            color: $secondary-color
        &__button-item-title
            display: flex
            background: $primary-text-color
            text-align: left
            padding: 1.4rem
            font-size: 1.4rem
            font-weight: 700
            color: $secondary-color
        &__button-item-icon
            margin-right: 1.4rem
        &__button-burger
            margin-right: 1rem
        &__button-text
            margin-right: 4rem
        &__section-bottom
            margin-top: 3rem
        &__slider
            border-radius: 1.425rem
            overflow: hidden
            height: calc(85rem / 2.3)
        &__slider-image
            width: 100%
            height: 100%
            object-fit: cover
            object-position: top center
            cursor: pointer
        &__dots
            margin-top: 3rem
        &__dots-list
            display: flex
            justify-content: center
            li:hover
                background: $primary-text-color
                transition: all 0.3s ease
            li:active
                background: $primary-color
                transition: all 0.1s ease
        &__dots-li
            height: 1.3rem
            width: 1.3rem
            border-radius: 50%
            margin: 0 1.5em
            cursor: pointer
            background: $secondary-light-color
            &_active
                height: 1.3rem
                width: 1.3rem
                border-radius: 50%
                margin: 0 1.5em
                cursor: pointer
                background: $primary-text-color
        &__mobile-catalog
            display: none
        &__promotions
            padding-top: 17.5rem

        &__row

        &__news
            padding-top: 17.5rem

        &__advice-text
            display: flex
            flex-direction: column
            gap: 2rem
            width: calc(85rem / 1.7)
            padding: 4rem 0rem
            color: $primary-color
            font-weight: 600
        &__advice-title
            font-size: 2.5rem
        &__advice-subtitle
            font-size: 1.25rem
        &__advice-button

        &__advice-btn
            padding: 1rem 6rem
            border-radius: 1.425rem
            font-size: 1.25rem
            font-weight: 500
            background: $secondary-color
            color: $secondary-text-color
            transition: all 0.3s ease-out
            &:hover
                box-shadow: 0 0.01rem 0.3rem 0.025rem $secondary-light-color
                background: $secondary-light-color
                transition: all 0.3s ease-out
                color: $primary-color
                transition: all 0.2s ease-out
            &:active
                box-shadow: 0 0.01rem 0.5rem 0.025rem $primary-color
                background: $primary-color
                transition: all 0.1s ease
                color: $primary-text-color
                transition: all 0.1s ease-out
        &__advice-image
            position: relative
        &__advice-img
            position: absolute
            bottom: 0
            right: 0
        &__blog
            padding-top: 17.5rem
        &__blog-row
            display: flex
            justify-content: space-between
            a
                font-size: 1.25rem
                color: $primary-text-color
        &__blog-card
            overflow: hidden
            width: 49%
            &:hover
                .main__blog-card-description
                    border: 0.25rem solid $primary-text-color
                    border-top: none
        &__blog-card-image
            border-radius: 1.425rem 1.425rem 0rem 0rem
            overflow: hidden
            max-width: 100%
            cursor: pointer
        &__blog-card-img
            max-width: 100%
            object-fit: cover
        &__blog-card-description
            display: flex
            flex-direction: column
            justify-content: space-between
            gap: 1.5rem
            padding: 2rem
            border: 0.25rem solid $secondary-color
            border-top: none
            border-radius: 0rem 0rem 1.425rem 1.425rem
        &__blog-card-title
            font-size: 1.6rem
            font-weight: 600
            color: $primary-text-color
        &__blog-card-text
            height: calc(85rem / 14.5)
            font-size: 1.2rem
            color: $secondary-text-color
            line-height: 1.2

        &__brand
            padding-top: 17.5rem
        &__brand-title
            margin-bottom: 6rem
        &__brand-image
            display: flex
            align-items: start
            justify-content: space-between
        &__brand-image-item
            width: calc(85rem / 4.25)
            cursor: pointer
        &__feature-row
            display: flex
            justify-content: space-between
        &__feature-item
        &__feature
            padding-top: 17.5rem
        &__feature-title
            align-items: start
            min-height: calc(85rem / 10)
        &__feature-luck
            font-size: 1.2rem
            font-weight: 600
            color: $secondary-text-color
        &__subscribe
            height: 19rem
        &__subscribe-text
            display: flex
            flex-direction: column
            justify-content: space-between
            gap: 2rem
            width: calc(85rem / 1.7)
            padding: 4rem 0rem
            color: $primary-color
            font-weight: 600
        &__subscribe-title
            font-size: 2.5rem
        &__subscribe-button
            position: relative
        &__subscribe-input
            position: absolute
            bottom: 0
            width: calc(85rem / 1.7)
            padding: 1rem 2rem
            border-radius: 1.425rem
            font-size: 1.25rem
            color: $primary-color
        &__subscribe-btn
            position: absolute
            right: 0
            bottom: 0
            padding: 1rem 6rem
            border-radius: 1.425rem
            font-size: 1.25rem
            font-weight: 500
            background: $secondary-color
            color: $secondary-text-color
            &:hover
                box-shadow: 0 0.01rem 0.3rem 0.025rem $secondary-light-color
                background: $secondary-light-color
                transition: all 0.3s ease-out
                color: $primary-color
                transition: all 0.2s ease-out
            &:active
                box-shadow: 0 0.01rem 0.5rem 0.025rem $primary-color
                background: $primary-color
                transition: all 0.1s ease
                color: $primary-text-color
                transition: all 0.1s ease-out
        &__subscribe-image
            position: relative
        &__subscribe-img
            position: absolute
            bottom: 0

    .footer
        background: $secondary-color
        padding: 6rem 0rem
        &__content
            display: flex
            justify-content: space-between
            color: $secondary-text-color
            a
                color: $secondary-text-color
        &__logo
            align-items: start
        &__catalog
            display: flex
            flex-direction: column
            font-size: 1.425rem
        &__catalog-title
            margin-bottom: 2rem
            font-weight: 600
        &__catalog-list
            display: flex
            flex-direction: column
            gap: 1.3rem
        &__catalog-li
            &:hover
                color: $animation-color
                transition: all 0.3s ease
            &:active
                color: $background-color
                transition: all 0.1s ease
        &__company
            display: flex
            flex-direction: column
            font-size: 1.425rem
        &__company-title
            margin-bottom: 2rem
            font-weight: 600
        &__company-list
            display: flex
            flex-direction: column
            gap: 1.3rem
        &__company-li
            &:hover
                color: $animation-color
                transition: all 0.3s ease
            &:active
                color: $background-color
                transition: all 0.1s ease
        &__contacts
            display: flex
            flex-direction: column
            justify-content: space-between
        &__phone
            display: flex
            flex-direction: column
            gap: 1.3rem
        &__phone-number
            font-size: 1.425rem
            font-weight: 600
            &:hover
                color: $animation-color
                transition: all 0.3s ease
            &:active
                color: $background-color
                transition: all 0.1s ease
        &__phone-text
            font-size: 1.25rem
        &__socials
            display: flex
            flex-direction: column
            align-items: start
            gap: 1.3rem
            font-size: 1.25rem
        &__socials-email
            &:hover
                color: $animation-color
                transition: all 0.3s ease
            &:active
                color: $background-color
                transition: all 0.1s ease
        &__socials-icon
            margin-right: 1rem

    @media (max-width: 1200px)
        .wrapper
            width: 1140px

    @media (max-width: 1199px)
        .wrapper
            width: 960px

    @media (max-width: 991px)
        .wrapper
            width: 720px

        
        .header
            &__hamburger
                display: block
                background: $primary-color
            &__map
                display: none
            &__navbar
                display: none
            &__navbar-list
                display: none
            &__phone
                display: none
            &__login
                display: none

    @media (max-width: 767px)
        .wrapper
            width: 540px
        

    @media (max-width: 575px)
        .wrapper
            width: 100%
            padding: 0 1rem
        .logo
            display: flex
            align-items: center
            gap: 1rem
            &__title
                font-size: 1.7rem
                font-weight: 600
            &__text
                display: flex
                align-items: center
                justify-content: flex-start
                flex-direction: column
                margin-left: 0rem
            
        .header
            width: 100%
            position: fixed
            background: $primary-color
            z-index: 99
            &__hamburger
                display: block
                background: $primary-color
            &__logo
                // margin-left: 0.5rem
                display: flex
                flex: 1
            &__content
                min-height: 4.5rem
                justify-content: flex-start
            &__logo-image
                height: 2rem
                width: 2rem
            &__icons
                display: flex
                justify-content: flex-end
                align-items: center
                gap: 1.5rem
                margin-right: 1rem         
            &__search-img
                height: 2rem
                width: 2rem
                background: $primary-color  
            &__map
                display: none
            &__navbar
                display: none
            &__navbar-list
                display: none
            &__phone
                display: none
            
                
        .feature
            &__item
                width: 100%
                height: 100%
            &__description
                font-size: 1rem

        .main
            &__logo
                display: none
            &__section-center
                display: none
            &__search
                display: none
            &__action
                display: none
            &__slider
                border-radius: 1.425rem
                overflow: hidden
                width: 100%
                height: calc(85rem / 4.4)
            &__slider-image
                max-width: 100%
            &__dots-li
                height: 0.8rem
                width: 0.8rem
                margin: 0 2.5%
                &_active
                    height: 0.8rem
                    width: 0.8rem
                    margin: 0 2.5%
            &__mobile-catalog
                display: block
                padding-top: 3rem

            &__section-bottom
                margin-top: 2rem
            &__promotions
                padding-top: 5rem
            &__news
                padding-top: 5rem
            &__advice-text
                text-align: center
                justify-content: space-between
                padding: 2rem 0rem
            &__advice-title
                font-size: 2rem
            &__advice-subtitle
                font-size: 1.2rem
            &__advice-btn
                width: 100%
                padding: 1rem 0
            &__advice-image
                display: none
            &__blog
                padding-top: 5rem
            &__blog-row
                display: flex
                flex-wrap: nowrap
                overflow-x: auto
                gap: 2rem
                a
                    font-size: 1rem
                &::-webkit-scrollbar 
                    display: none
            &__blog-card
                overflow: hidden
                width: 85%
                flex: 0 0 auto
            &__blog-card-description
                gap: 1rem
                padding: 1rem
            &__blog-card-text
                font-size: 1rem
                height: 10rem
            &__blog-title-more
                font-size: 1rem
            &__brand
                padding-top: 5rem
            &__brand-title
                margin-bottom: 2rem
            &__brand-image
                display: flex
                flex-wrap: nowrap
                overflow-x: auto
                gap: 3rem
                &::-webkit-scrollbar 
                    display: none
            &__brand-image-item
                flex: 0 0 auto
            &__feature-row
                display: flex
                flex-direction: column
                justify-content: space-between
                gap: 6rem
                margin-bottom: 2rem
            &__feature
                padding-top: 5rem
            &__feature-title
                align-items: start
                min-height: calc(85rem / 35)
            &__feature-luck
                font-size: 1.2rem
                font-weight: 600
                color: $secondary-text-color
            &__subscribe-image
                display: none
            &__subscribe
                height: 13rem
            &__subscribe-text
                padding: 2rem 0rem
            &__subscribe-title
                text-align: center
                font-size: 1.5rem
            &__subscribe-input
                font-size: 0.8rem
                width: 100%
            &__subscribe-btn
                font-size: 0.8rem
                padding: 1rem 2rem
        
        .mobile
            &__row
                display: flex
                justify-content: space-between
                margin-bottom: 1rem
            &__card
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                gap: 1rem
                padding: 2rem 2rem
                border: 0.25rem solid #282e33;
                border-radius: 1.425rem;
                background: $background-color
                width: 48%
            &__card-image
                width: 70%
                background: $background-color
            &__card-text
                font-size: 1.4rem
                font-weight: 600
                color: $primary-text-color
        .title
            justify-content: space-between
            align-items: center
            &__text
                font-size: 1.7rem
            &__more
                margin-right: 0rem
                font-size: 1rem
            &__icon
                margin-left: 1rem    
        .line
            margin-top: 8rem
        .footer
            background: $secondary-color
            padding: 2rem 0rem
            &__image
                width: 48px
                height: 48px
            &__title
                font-size: 2.5rem
            &__subtitle
                font-size: 0.8rem
            &__content
                display: flex
                flex-direction: column
            &__logo
                align-items: start
            &__catalog
                padding-top: 4rem
            &__catalog-title
                position: relative
                cursor: pointer
                &::after
                    content: ''
                    width: 1rem
                    height: 1px
                    background: $primary-text-color
                    position: absolute
                    top: 0.7rem
                    transform: rotate(40deg)
                    right: 1rem
                &::before
                    content: ''
                    width: 1rem
                    height: 1px
                    background: $primary-text-color
                    position: absolute
                    top: 0.7rem
                    transform: rotate(-40deg)
                    right: 0.3rem
            &__catalog-list
                // display: none
                font-size: 1rem
            &__catalog-li 
            &__company
                padding-top: 4rem
            &__company-list
                font-size: 1rem
            &__contacts
                padding-top: 4rem
            &__phone-number
                font-size: 1.4rem
            &__phone-text
                font-size: 1rem
            &__socials
                padding-top: 4rem
                font-size: 1rem
            

        .row
            display: flex
            flex-wrap: nowrap
            overflow-x: auto
            &::-webkit-scrollbar 
                display: none
        .card
            display: flex
            flex: 0 0 auto
            width: 85%

        .active
            
    

    @media (max-width: 400px)
        .header
            &__title
                display: none

